<% provide(:title, "Products") %>

<p id="notice"><%= notice %></p>
<h1>Products</h1>

<div class="form-group col-sm-12">
  <label for="country"><h3>Choose Country:</h3></label>
    <% @products.each do |product| %>
      <li><%= link_to "#{product.country}", "/product/#{product.country}"  %></li>
    <% end %>
</div>

<div class="form-group col-sm-12">
  <label for="country"><h3>Choose Country:</h3></label>
    <%= form_tag search_products_path, method: :get do |f| %>
    <%= select_tag :country,
        options_for_select(Product.all.map{ |c| [c.country]}),
        { :class => 'form-control' } %>
    <%= submit_tag 'Search' %>
    <% end %>
  </select>
</div>

<% @products.each do |product| %>
<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="card">
    <img class="card-img img-responsive" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%= product.product_name %></h4>
      <p class="card-text" id="country"><%= product.country %>
      <p class="card-text"><%= link_to product.product_description, product %>
    </div>
  </div>
</div>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Country</th>
      <th>Product Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.product_name, product %></td>
        <td><%= product.country %></td>
        <td><%= product.product_description %></td>
        <td>$<%= number_with_precision(product.price, precision:2) %></td>

        <% if product.user == current_user %>
            <td>
              <div class="btn-group">
              <%= link_to 'Edit', edit_product_path(product), type:"button", class:"btn btn-default"%>
              <%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, type:"button", class:"btn btn-default" %>
              </div>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path, class:"btn btn-info" %>
