<% provide(:title, "Products") %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @product.product_name %></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Product Description:</strong><br>
      <%= @product.product_description %>
    </p>

    <p>
      <strong>Price:</strong><br>
      $<%= number_with_precision(@product.price, precision:2) %>
    </p>
    <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default" %>
  </div>
</div>
