<header class="navbar navbar-fixed-top">
    <div class="container">
      <!-- <%= link_to "Tompang", '/', id: "logo" %> -->
      <a class="navbar-brand" id="logo" href="/">
      <%= image_tag("logo.png", size: "40x30", :alt => "Tompang the World") %>
      </a>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About",   '/about' %></li>
          <li><%= link_to "Contact Us",   '/contact' %></li>
          <li><%= link_to "Help",   '/help' %></li>
          <li><%= link_to "Sign Up", '#' %></li>
          <li><%= link_to "Log In", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
