<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Tompang", '/', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About",   '/about' %></li>
          <li><%= link_to "Contact Us",   '/contact' %></li>
          <li><%= link_to "Help",   '/help' %></li>
          <li><%= link_to "Sign Up", '#' %></li>
          <li><%= link_to "Log In", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
