<header class="navbar navbar-fixed-top">
    <div class="container">
      <!-- <%= link_to "Tompang", '/', id: "logo" %> -->
      <a class="navbar-brand" id="logo" href="/">
      <%= image_tag("logo.png", size: "40x30", :alt => "Tompang the World") %>
      </a>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About",   '/about' %></li>
          <li><%= link_to "Contact Us",   '/contact' %></li>
          <li><%= link_to "Help",   '/help' %></li>

          <% if user_signed_in? %>
            <li><%=link_to 'Sell', new_product_path %></li>
            <li><%=link_to 'Account', edit_user_registration_path %></li>
            <li><%=link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
