<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tompang the World</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
   <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
   </script>
 <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "Tompang", '/', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Help",   '/help' %></li>
              <li><%= link_to "About",   '/about' %></li>
              <li><%= link_to "Contact Us",   '/contact' %></li>
              <li><%= link_to "Log in", '#' %></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
