<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tompang the World</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name,msg| %>
      <%= content_tag(:div, msg, class:"alert alert-#{name}") %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
